* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0.2em;
    background-color: #f9d199;
    color: white;
}

img {
    width: 100%;
    max-width: 100%;
}

/* nav */

ul {
    display: flex;
    list-style-type: none;
    margin-top: 0.5em;
}

li {
    padding: 0 0.2em;
}

.nav-links li::after {
    content: ' |'
}

.nav-links li:last-child::after {
    content: '';
}

#head {
    height: 250px;
    background-image: url('/images/sierra-blair.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-banner {
    width: 100%;
    padding: 2em 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.about-us {
    margin: 2em auto;
    padding: 1em;
    background:#003d60;
    color: white;
    border-radius: 10px;
}

.photos-container {
    display: grid;
    grid-template-columns: 1fr;
} 

/* activities section */

.activities {
    margin: 2em auto;
}
.activities h2 {
    margin: 1em;
}

/* meet dates section */

.meet-dates {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5em;
    
}

.meet-dates li {
    padding: 2em 0;
    background:#00aa99;
    color: white;
    border-radius: 10px;
}



.meet-dates li:nth-child(odd) {
    background: #003d60;
}

/* contact section */

.contact {
    margin: 2em auto;
    padding: 2em 0;
    background-color: rgba(0, 0, 0, 0.5);
}