* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0.2em;
}

img {
    width: 100%;
    max-width: 100%;
}

/* nav */

ul {
    display: flex;
    list-style-type: none;
    margin-top: 0.5em;
}

li {
    padding: 0 0.2em;
}

.nav-links li::after {
    content: ' |'
}

.nav-links li:last-child::after {
    content: '';
}

#head {
    height: 250px;
    background-image: url('/images/sierra-blair.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-banner {
    width: 100%;
    padding: 2em 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    

}


.photos-container {
    display: grid;
    grid-template-columns: 1fr;
    
}

/* meet dates section */

.meet-dates {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    
}