* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

#head {
    background-image: url('/images/sierra-blair.jpg');
    background-size: cover;
    background-position: left top;
    color: beige;
}

.grid {
    
}